In [6]:
import pandas as pd
import numpy as np
import os
from scipy.signal import savgol_filter

In [8]:
episodeDataPath = "/home/josh/GitHub/imdb-tv-ratings/all-episode-ratings.csv"
seriesDataPath = "/home/josh/GitHub/imdb-tv-ratings/top250list.csv"

episodeRatingData = pd.read_csv(episodeDataPath)

episodeRatingData.rename(columns={'Unnamed: 0': 'Episode Number'},
                        inplace=True)


episodeCounts = episodeRatingData['Code'].value_counts().to_frame()

episodeCounts.columns = ['Number of Episodes']

episodeRatingData = episodeRatingData.join(episodeCounts, on='Code')

episodeRatingData['Episode Number'] = episodeRatingData['Episode Number']+1

episodeRatingData['Prop Through Series'] = (episodeRatingData['Episode Number']/
                                           episodeRatingData['Number of Episodes'])

seriesData = pd.read_csv(seriesDataPath)

relevantSeriesData = seriesData[['Code', 'Title']]

In [9]:
tvShowDataWithSeriesName = episodeRatingData.merge(relevantSeriesData, 
                                                   on='Code')

In [10]:
### The code for our version of the office is: tt0386676
tvShowDataWithSeriesName

,Episode Number,Season,Episode,Rating,Code,Number of Episodes,Prop Through Series,Title
0,1,1,1,8.0,tt5491994,6,0.166667,Planet Earth II
1,2,1,2,7.3,tt5491994,6,0.333333,Planet Earth II
2,3,1,3,6.9,tt5491994,6,0.500000,Planet Earth II
3,4,1,4,6.8,tt5491994,6,0.666667,Planet Earth II
4,5,1,5,6.8,tt5491994,6,0.833333,Planet Earth II
...,...,...,...,...,...,...,...,...
19909,9,2,4,7.1,tt4156586,13,0.692308,Permanent Roommates
19910,10,2,5,7.5,tt4156586,13,0.769231,Permanent Roommates
19911,11,2,6,7.7,tt4156586,13,0.846154,Permanent Roommates
19912,12,2,7,8.1,tt4156586,13,0.923077,Permanent Roommates
19913,13,2,8,8.8,tt4156586,13,1.000000,Permanent Roommates

In [255]:
def televisionSeriesCondenser(tvSeries, numberOfEps):
    
    neededQuantiles = np.linspace(1, numberOfEps, numberOfEps)/numberOfEps
    
    episodesChosen = np.floor(
        np.quantile(tvSeries['Episode Number'], neededQuantiles))
    
    condensedShow = tvSeries.loc[np.isin(tvSeries['Episode Number'],
                                           episodesChosen)  , :]
    
    return(condensedShow)

In [256]:
relevantShows = tvShowDataWithSeriesName.loc[
    tvShowDataWithSeriesName['Number of Episodes'] >= 50, :]

In [257]:
americanOffice = relevantShows.loc[relevantShows['Code']=='tt0386676', :]

In [258]:
condensedOffice = televisionSeriesCondenser(tvSeries=americanOffice, numberOfEps=50)

In [259]:
condensedShows = relevantShows.groupby('Code').apply(
    lambda x: televisionSeriesCondenser(x, 51))

In [264]:
condensedShows = condensedShows.reset_index(level=0, drop=True)

In [274]:
condensedShows['Code'].value_counts().value_counts()

51    85
50     5
Name: Code, dtype: int64

In [292]:
onlyFirstFifty = condensedShows.groupby('Code').head(50).copy()

In [305]:
onlyFirstFifty.loc[:, 'main_character_left'] = (onlyFirstFifty['Title'] == 'The Office') & (
    onlyFirstFifty['Episode Number'] >138)

In [306]:
onlyFirstFifty['main_character_left'] = onlyFirstFifty['main_character_left'].astype('int32')

In [311]:
onlyFirstFifty.to_csv('tv rating data.csv', index=False)